<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Artrade Calculator</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <meta name="description" content="The HTML5 Herald">
    <link rel="stylesheet" href="styles.css">

</head>

<body>
    <div id="root">
        <!-- overlays -->
        <div class="overlay" v-if="showStockModal" @click="showStockModal = false"></div>
        <div class="overlay" v-if="showDividendModal" @click="showDividendModal = false"></div>
        <div class="overlay" v-if="showEtfModal" @click="showEtfModal = false"></div>
        <div class="overlay" v-if="showFinvizModal" @click="showFinvizModal = false"></div>
        <!-- End of overlays -->

        <!-- Stock modal -->
        <div class="linksModal" v-if="showStockModal">
            <div class="modalSquarsGrid">
                <div class="rounded square generic-square" v-on:click="buildTradingUrl">
                    <span>TradingView</span>
                </div>
                <div class="rounded square generic-square" v-on:click="buildGuruUrl">
                    <span>GuruFocus</span>
                </div>
                <div class=" rounded square generic-square" v-on:click="buildFinvizUrl">
                    <span>Finviz</span>
                </div>
                <div class="rounded square generic-square" v-on:click="buildStockUrl">
                    <span>Exposure</span>
                </div>
                <div class="rounded square generic-square" v-on:click="buildStockAnalysisUrl()">
                    <span>Stock Analysis</span>
                </div>
                <div class="rounded square generic-square" v-on:click="buildNasdaqUrl">
                    <span>Nasdaq</span>
                </div>
            </div>
        </div>
        <!-- END of Stock modal -->

        <!-- Dividend modal -->
        <div class="linksModal" v-if="showDividendModal">
            <div class="squarsGrid">
                <div class="rounded square generic-square" v-on:click="buildTradingUrl">
                    <span>TradingView</span>
                </div>
                <div class="rounded square generic-square" v-on:click="buildGuruUrl">
                    <span>GuruFocus</span>
                </div>
                <div class=" rounded square generic-square" v-on:click="buildStockAnalysisUrl">
                    <span>Stock Analysis</span>
                </div>
                <div class=" rounded square generic-square" v-on:click="buildFinvizUrl">
                    <span>Finviz</span>
                </div>
            </div>
        </div>
        <!-- END of Dividend modal -->

        <!-- ETF modal -->
        <div class="linksModal" v-if="showEtfModal">
            <div class="squarsGrid">
                <div class="rounded square generic-square" v-on:click="buildTradingUrl">
                    <span>TradingView</span>
                </div>
                <div class="rounded square generic-square" v-on:click="buildFinvizUrl">
                    <span>Finviz</span>
                </div>
                <div class="rounded square generic-square" v-on:click="buildEtfUrl">
                    <span>ETFDB</span>
                </div>
            </div>
        </div>
        <!-- END of ETF modal -->

        <!-- Finviz modal -->
        <div class="linksModal" v-if="showFinvizModal">
            <div class="squarsGrid">
                <div class="rounded square generic-square" v-on:click="openStockMap">
                    <span>Stocks</span>
                </div>
                <div class="rounded square generic-square" v-on:click="openEtfMap">
                    <span>ETF</span>
                </div>
            </div>
        </div>
        <!-- END of Finviz modal -->

        <div class="row mt-4 mb-5" style="width: 100%;">
            <div class="col-1"></div>

            <!-- Calculator section -->
            <div class="col-5">
                <div class="d-flex justify-content-center flex-column">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-danger" @click=clearForm>Clear</button>
                    </div>

                    <div class="col-12 d-flex">
                        <!-- Equity -->
                        <div class="form-group mt-2 col-6">
                            <label for="equity">Equity</label>
                            <input style="margin-left: 10px" type="checkbox" v-model="activeEquity"
                                :checked="{activeEquity:true}" />
                            <div class="input-group">
                                <div class="input-group-prepend mt-2">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input ref="equity" type="number" :disabled="!activeEquity" class="form-control mt-2"
                                    placeholder="Enter Equity" v-model="equity">
                            </div>
                        </div>

                        <!-- Position -->
                        <div class="form-group mt-2 col-6">
                            <label for="position">Position Size</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend mt-2">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input ref="position" type="number" disabled class="form-control mt-2"
                                    v-bind:class="{ 'blinking': tradeNotValid}" placeholder="Position"
                                    v-model="position">
                            </div>
                        </div>

                    </div>

                    <!-- Trigger -->
                    <div class="form-group">
                        <label for="trigger">Trigger</label>
                        <input type="text" @keydown.esc="clearRow" ref="trigger" @keyup.enter="enterDot"
                            class="form-control mt-2" v-model="trigger" placeholder="Enter Trigger">
                    </div>

                    <!-- Stop -->
                    <div class="d-flex justify-content-between align-items-end mt-2">
                        <div class="form-group col-6">
                            <label for="stopVal">Stop</label>
                            <input type="text" @keydown.esc="clearRow" ref="stopVal" @keyup.enter="enterDot"
                                class="form-control mt-2" v-model="stopVal" placeholder="By Price">
                        </div>
                        <div class="form-group col-6 d-flex justify-content-end">
                            <label for="stopPercent"></label>
                            <input type="text" @keydown.esc="clearRow" ref="stopPercent"
                                @change="calculateStopFromPercent" class="form-control mt-2 ml-2" v-model="stopPercent"
                                placeholder="By Percent" style="width:98%">
                        </div>
                    </div>

                    <!-- Targets -->
                    <div class="d-flex justify-content-between align-items-end mt-2">
                        <div class="form-group col-3">
                            <label>Targets</label>
                            <input type="text" @keydown.esc="clearRow" ref="firstTarget" @keyup.enter="enterDot"
                                class="form-control mt-2" v-model="firstTarget" placeholder="1st Target" disabled>
                        </div>
                        <div class="form-group col-3 d-flex justify-content-end">
                            <input type="text" @keydown.esc="clearRow" ref="secondTarget"
                                @change="calculateStopFromPercent" class="form-control mt-2 ml-2" v-model="secondTarget"
                                placeholder="2nd Target" style="width:98%" disabled>
                        </div>
                        <div class="form-group col-3 d-flex justify-content-end">
                            <input type="text" @keydown.esc="clearRow" ref="thirdTarget" @keyup.enter="enterDot"
                                class="form-control mt-2" v-model="thirdTarget" placeholder="3rd Target"
                                style="width:98%" disabled>
                        </div>
                        <div class="form-group col-3 d-flex justify-content-end">
                            <input type="text" @keydown.esc="clearRow" ref="fourthTarget"
                                @change="calculateStopFromPercent" class="form-control mt-2 ml-2" v-model="fourthTarget"
                                placeholder="4th Target" style="width:98%" disabled>
                        </div>
                    </div>

                    <!-- Risk -->
                    <div class="form-group mt-2 col-12">
                        <label for="risk">Risk</label>
                        <div class="input-group d-flex justify-content-between">
                            <div class="d-flex col-10">
                                <span class="input-group-text mt-2 mb-2">$</span>
                                <input disabled ref="risk" type="number" class="form-control mt-2 mb-2" v-model="risk"
                                    placeholder="Enter Risk">
                            </div>

                            <!-- Reset Risk -->
                            <div class="d-flex justify-content-end col-2">
                                <span class="generic-btn btn-small copy-button mt-2 rounded"
                                    @click=riskDefult>Reset</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-2">
                        <!-- Shares -->
                        <label for="shares">Shares</label>
                        <div class="input-group d-flex justify-content-between">
                            <div class="d-flex col-10">
                                <input ref="shares" @keyup="calculateRisk" class="form-control  mt-2 mb-2"
                                    v-model="shares" placeholder="Enter Shares">
                            </div>
                            <!-- Max Shares -->
                            <div class="d-flex justify-content-end col-2">
                                <span class="generic-btn btn-small copy-button mt-2 rounded"
                                    @click="activeSharesFunc()">Max</span>
                            </div>
                        </div>
                    </div>
                    <!-- END of Calculator section -->

                    <!-- Calculate Profit Section -->
                    <div class="col-12 d-flex">

                        <!-- Trigger -->
                        <div class="form-group col-3">
                            <div class="d-flex">
                                <div class="col-6">
                                    <label for="profitTrigger">Trigger</label>
                                </div>
                                <div class="col-6 d-flex align-items-center">
                                    <span class="generic-btn btn-micro copy-button rounded"
                                        @click="getTriggerValue">Copy</span>
                                </div>
                            </div>
                            <input type="text" @keydown.enter="enterDotProfit" class="form-control mt-2"
                                placeholder="Enter Trigger" v-model="profitTrigger">
                        </div>

                        <!-- Current Price -->
                        <div class="form-group col-3">
                            <label for="target">Current Price</label>
                            <input type="text" @keydown.enter="enterDotProfit" class="form-control mt-2"
                                placeholder="Enter Price" v-model="targetProfit">
                        </div>

                        <!-- Shares -->
                        <div class="form-group col-3">
                            <div class="d-flex">
                                <div class="col-6">
                                    <label for="profitShares">Shares</label>
                                </div>
                                <div class="col-6 d-flex align-items-center">
                                    <span class="generic-btn btn-micro copy-button rounded"
                                        @click="getShares">Copy</span>
                                </div>
                            </div>
                            <input type="text" @keydown.enter="enterDotProfit" class="form-control mt-2"
                                placeholder="Enter Shares" v-model="profitShares">
                        </div>

                        <!-- Profit -->
                        <div class="form-group col-3">
                            <label for="position">Profit</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text mt-2">$</span>
                                </div>
                                <input type="number" disabled class="form-control mt-2" placeholder="Profit"
                                    v-model="profit">
                            </div>
                        </div>
                    </div>
                    <!-- END of Calculate Profit Section -->

                </div>
            </div>


            <!-- Information section -->
            <div class="col-6">
                <div class="row">
                    <div class="d-flex justify-content-end">
                        <!-- <button class="btn btn-warning border" @click="showDividendKingsList">Kings</button>
                        <button class="btn btn-info border ms-1"
                            @click="showDividendAristocratsList">Aristocrats</button> -->
                        <button class="btn border ms-1" style="color:white;background-color: #563D7C;"
                            @click="showSCHDList">SCHD</button>
                        <button class="btn border ms-1" style="color:white;background-color: #0091F7;"
                            @click="showDGROList">DGRO</button>
                        <button class="btn border ms-1 text-dark" style="color:white;background-color: #F7F4A8;"
                            @click="showDGRWList">DGRW</button>
                        <button class="btn border ms-1" style="color:white;background-color: #C00029;"
                            @click="showVUGList">VUG</button>
                        <button class="btn btn-success border ms-1" @click="showFinvizModal = true">Finviz
                            Maps</button>
                    </div>
                </div>
                <div class="row">
                    <label style="margin-right: 10px; margin-top: 8px;" for="details">Information</label>
                    <input @keyup.enter="showDetails()" class="form-control h-50 mt-2" style="width:35%"
                        v-model="details" type="text">
                </div>

                <!-- Stocks list -->
                <div class='mt-2' v-if="displayStocksAndEtfs">
                    <label>Connected Stocks</label>
                    <div class="squarsGrid mt-2">
                        <div v-for="(detail, index) in detailsResultsStocks.stocks" :key="`detail-${index}`"
                            class="rounded square" v-bind:class="[detail.length,detail.belongtoindex]"
                            @click="showDetails(detail.name);"
                            @contextmenu.prevent="showStockModal = true;dataToModal(detail.name);">
                            <span>{{detail.name.toUpperCase()}}</span>
                        </div>
                    </div>
                </div>
                <!-- END of Stocks list -->

                <!-- Connected list -->
                <div class='form-group mt-3 col-12' v-if="displayStocksAndEtfs">
                    <label>Connected Indexes</label>
                    <div class="squarsGrid mt-2">
                        <div v-for="(connect, index) in detailsResultsStocks.connected"
                            v-bind:class="connect.isChosenEtf" :key="`detail-${index}`"
                            class="rounded square generic-square" @click="showDetails(connect.name);"
                            @contextmenu.prevent="showEtfModal = true;
                                dataToModal(connect.name);">
                            <span>{{connect.name.toUpperCase()}}</span>
                        </div>
                    </div>
                </div>
                <!-- END of Connected list -->

                <!-- Kings list -->
                <div class='mt-2' v-if="displayDividendkings">
                    <div class="squarsGrid mt-2">
                        <div v-for="(elem, index) in dividendKingsList" :key="`detail-${index}`"
                            class="rounded square kings" :title="generateTitle(elem, 'dividendKings')"
                            @click="showDividendModal = true;dataToModal(elem.ticker);">
                            <span>{{ elem.ticker.toUpperCase() }}</span>
                        </div>
                    </div>
                </div>
                <!-- END of Kings list -->

                <!-- Aristocrats list -->
                <div class='mt-2' v-if="displayDividendAristocrats">
                    <div class="squarsGrid mt-2">
                        <div v-for="(elem, index) in dividendAristocratsList" :key="`detail-${index}`"
                            class="rounded square aristocrats" :title="generateTitle(elem, 'dividendAristocrats')"
                            @click="showDividendModal = true;dataToModal(elem.ticker);">
                            <span>{{ elem.ticker.toUpperCase() }}</span>
                        </div>
                    </div>
                </div>
                <!-- END of Aristocrats list -->

                <!-- schd list -->
                <div class='mt-2' v-if="displaySCHD">
                    <div class="squarsGrid mt-2">
                        <div style="background-color:#563D7C;" v-for="(elem, index) in schdList"
                            :key="`detail-${index}`" class="rounded square" :title="generateTitle(elem, 'schd')"
                            @click="showDividendModal = true;dataToModal(elem.ticker);">
                            <span>{{ elem.ticker.toUpperCase() }}</span>
                        </div>
                    </div>
                </div>
                <!-- END of schd list -->

                <!-- dgro list -->
                <div class='mt-2' v-if="displayDGRO">
                    <div class="squarsGrid mt-2">
                        <div style="background-color:#0091F7;" v-for="(elem, index) in dgroList"
                            :key="`detail-${index}`" class="rounded square" :title="generateTitle(elem, 'dgro')"
                            @click="showDividendModal = true;dataToModal(elem.ticker);">
                            <span>{{ elem.ticker.toUpperCase() }}</span>
                        </div>
                    </div>
                </div>
                <!-- END of dgro list -->

                <!-- dgrw list -->
                <div class='mt-2' v-if="displayDGRW">
                    <div class="squarsGrid mt-2">
                        <div style="background-color: #F7F4A8;" v-for="(elem, index) in dgrwList"
                            :key="`detail-${index}`" class="rounded square" :title="generateTitle(elem, 'dgrw')"
                            @click="showDividendModal = true;dataToModal(elem.ticker);">
                            <span class="text-dark">{{ elem.ticker.toUpperCase() }}</span>
                        </div>
                    </div>
                </div>
                <!-- END of dgrw list -->

                <!-- vug list -->
                <div class='mt-2' v-if="displayVUG">
                    <div class="squarsGrid mt-2">
                        <div style="background-color: #C00029;" v-for="(elem, index) in vugList"
                            :key="`detail-${index}`" class="rounded square" :title="generateTitle(elem, 'vug')"
                            @click="showDividendModal = true;dataToModal(elem.ticker);">
                            <span>{{ elem.ticker.toUpperCase() }}</span>
                        </div>
                    </div>
                </div>
                <!-- END of vug list -->
            </div>
        </div>
        <!-- END of Information section -->
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
    <script src="etfDB.js"></script>
    <script src="script.js"></script>
</body>

</html>